:root {
  //primary:
  --title-paragraph: hsl(0, 36%, 70%);
  --text-emailInvalid: hsl(0, 93%, 68%);
  //neutral:
  --subtitle: hsl(0, 6%, 24%);

  //font family
  --font-family: "Josefin Sans", sans-serif;
}
